.inputz{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    border: 1px solid black;
    outline: none;
    margin: 10px;
    padding: 3px 3px 3px 10px;
    width: 500px;
    border-radius: 6px;
}

input:focus, input:hover{
    border: 1px solid rgb(25, 0, 255);
}

button{
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1.5rem;
}

button:hover{
    border: 1px solid rgb(25, 0, 255);
}

button:focus{
    outline: none;
    border: none;
}