.sugg {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sugg1{
    border: 1px solid grey;
    padding: .5rem;
    width: 10rem;
    text-wrap: wrap;
    text-align: left;
    cursor: pointer;
    border-radius: 6px;
}

.sugg2{
    border: 1px solid grey;
    padding: .5rem;
    width: 11rem;
    text-wrap: wrap;
    text-align: left;
    cursor: pointer;
    border-radius: 6px;
}

.sugg1:hover, .sugg2:hover{
    border: 1px solid rgb(25, 0, 255);
}

.intro{
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(25, 0, 255, 0.164);
}